<% content_for :page_title do %>
  <%= Spree.t(:title, scope: [:spree_importer_core, :importers, @importer.key]) %>
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= Spree.t(:imports, scope: :spree_importer_core) %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_importer_tabs">
      <% @importers.each do |importer| %>
        <%= content_tag :li, :class => ('active' if @importer.key == importer.key) do %>
          <%= link_to importer.name, spree.admin_imports_path(importer_id: importer.key) %>
        <% end if can?(:admin, Spree::Product) %>
      <% end %>
    </ul>
  </nav>
<% end %>
